<div class="game-card">
  <a href="/<%= game.dir %>/index.html">
    <img alt="<%= game.title %>" class="game-thumb" src="<%= game.cover %>">
    <div class="game-title"><%= game.title %></div>
    <div class="game-desc"><%= game.brief %></div>
  </a>
</div>
