<!DOCTYPE html>
<html lang="zh-CN">
<%- include('head', { pageType: 'home' }) %>
<body>
    <div class="card-container">
      <div class="header">Flash收藏站</div>
      <div id="game-list">
        <% games.forEach(game => { %>
          <div class="game-card">
            <a href="/<%= game.dir %>/index.html">
              <img alt="<%= game.title %>" class="game-thumb" src="/Games/mock/<%= game.dir %>.jpg">
              <div class="game-title"><%= game.title %></div>
              <div class="game-desc"><%= game.intro %></div>
            </a>
          </div>
        <% }); %>
      </div>
    </div>
    <div class="pagination">
      <button id="prevBtn">上一页</button>
      <span id="pageNumbers"></span>
      <button id="nextBtn">下一页</button>
    </div>
    <span id="totalPages" data-total-pages="<%= totalPages %>" style="display:none;"></span>
    <%- include('footer') %>
    <script type="text/javascript" src="/api/index/sitetime.js"></script>
    <script type="text/javascript" src="/api/index/index-pager.js"></script>
</body>
</html>
