<!DOCTYPE html>
<html lang="zh-CN">
<%- include('head', { 
    pageType: 'author-games', 
    personName: personName, 
    personType: personType,
    domain: domain 
}) %>
<body>
    <%- include('header') %>
    <h1 style="font-size: 24px; color: #333; padding: 50px 0 0 0; text-align: center;">
        <i class="fas <%= personType === 'author' ? 'fa-pen-nib' : 'fa-language' %>"></i>
        <% if (personLink) { %>
            <a href="<%= personLink %>" target="_blank" rel="nofollow" style="color: #a3a300; text-decoration: none;">
                <%= personName %>
            </a>
        <% } else { %>
            <%= personName %>
        <% } %>
        <%= personType === 'author' ? '所有的作品' : '汉化的游戏' %>
    </h1>

    <div class="author-info" style="text-align: center; margin-bottom: 30px; color: #666; max-width: 800px; margin-left: auto; margin-right: auto;">
        <%- personInfo %>
    </div>

    <div class="card-container">     
      <main id="game-list">
        <% games.forEach(game => { %>
          <div class="card">
            <a href="<%= game.dir %>/">
                <img alt="<%= game.title %>" class="game-thumb" src="<%= game.cover %>">
                <h2><%= game.title %></h2>
                <p><%= game.brief %></p>
            </a>
          </div>
        <% }); %>
      </main>
    </div>
    <div class="pagination">
        <a <% if (page > 1) { %> 
                href="<%= page === 2 ? '/' : '/' + (page - 1) + '.html' %>" 
            <% } %> 
            class="page-item <%= page <= 1 ? 'disabled' : '' %>">
            <i class="fas fa-chevron-left"></i>
            <span class="desktop-text">上一页</span>
        </a>

        <div class="page-numbers-container">
            <% pagination.forEach(item => { %>
                <% if (item.isDot) { %>
                    <span class="page-dot"><i class="fa-solid fa-ellipsis"></i></span>
                <% } else { %>
                    <% const targetUrl = item.value === 1 ? './' : item.value + '.html'; %>
                    <a href="<%= targetUrl %>" 
                    class="page-link <%= item.value === page ? 'active' : '' %> <%= item.isMHide ? 'm-hide' : '' %>">
                        <%= item.value %>
                    </a>
                <% } %>
            <% }); %>
        </div>

        <a <% if (page < totalPages) { %> 
                href="/<%= page + 1 %>.html" 
            <% } %> 
            class="page-item <%= page >= totalPages ? 'disabled' : '' %>">
            <span class="desktop-text">下一页</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <span id="totalPages" data-total-pages="<%= totalPages %>" data-current-page="<%= page %>" style="display:none;"></span>
    <%- include('footer') %>
    <script type="text/javascript" src="/api/index/index-pager.js"></script>
    <%- include('search') %>
</body>
</html>
