<head>
    <meta charset="UTF-8">
    
    <% if (pageType === 'home') { %>
        <title>静水深流 | Flash收藏站</title>
        <meta name="keywords" content="静水深流,Flash游戏收藏站,Flash收藏站,在线小游戏,Flash游戏,Flash游戏汉化版">
        <meta name="description" content="欢迎来到我的个人Flash收藏空间！所以游戏都是人工汉化，支持一键切换原版和汉化版，你也可以直接下载喜欢的游戏。部分游戏还附有攻略，希望你玩得高兴！">
        <link rel="stylesheet" href="/api/index/index.css">
        <meta property="og:type" content="website">
        <meta property="og:title" content="静水深流 | Flash收藏站">
        <meta property="og:description" content="Flash收藏站，收集大量好玩的Flash游戏，支持在线游玩和下载。">
        <meta property="og:image" content="https://<%= domain %>/api/icon/H.svg">
    <% } else if (pageType === 'game' && typeof game !== 'undefined') { %>
        <title><%= game.title %></title>
        <meta name="keywords" content="静水深流,Flash游戏收藏站,在线小游戏,Flash游戏,Flash游戏汉化版,<%= game.title %>,<%= game.title %>汉化版">
        <meta name="description" content="<%= game.brief %>">
        <link rel="stylesheet" href="/api/play/play.css">
        <script src="/api/ruffle/ruffle.js" defer></script>
        <script src="/api/play/zan.js" defer></script>
        <meta property="og:type" content="website">
        <meta property="og:title" content="<%= game.title %>">
        <meta property="og:description" content="<%= game.brief %>">
        <meta property="og:image" content="https://<%= domain + game.cover %>">
    <% } else if (pageType === '404' && typeof game !== 'undefined') { %>
        <title>404</title>
    <% } else if (pageType === 'about') { %>
        <title>关于 | Flash收藏站</title>
        <meta name="description" content="关于本站的统计信息与介绍">
        <link rel="stylesheet" href="/api/common/about.css">
    <% } %>
    <script type="text/javascript" src="/api/common/sitetime.js" defer></script>
    <script type="text/javascript" src="/api/common/count.js" defer></script>
    <script type="text/javascript" src="/api/common/toggle.js"></script>
    <script type="text/javascript" src="/api/common/search.js" defer></script>
    <link rel="stylesheet" href="/api/icon/css/all.min.css">
    <link rel="stylesheet" href="/api/common/header.css">
    <link rel="stylesheet" href="/api/common/footer.css">
    <link rel="icon" href="/api/icon/H.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ethaniel">
    <meta name="google-site-verification" content="mD2l3_aOmwjXLEvIAyB7bLGNGBnq7u88vPoK2oNuy3c" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9C3EYEPPQ1');
    </script>
</head>