<!DOCTYPE html>
<html lang="zh-CN">
<%- include('head', { pageType: 'home' }) %>
<body>
    <div class="card-container">
      <%- include('header', { pageType: 'home' }) %>
      <div id="game-list">
        <% games.forEach(game => { %>
          <div class="card">
            <a href="<%= game.dir %>/">
              <img alt="<%= game.title %>" class="game-thumb" src="<%= game.cover %>">
              <h3><%= game.title %></h3>
              <p><%= game.brief %></p>
            </a>
          </div>
        <% }); %>
      </div>
    </div>
    <div class="pagination">
      <button id="prevBtn">上一页</button>
      <span id="pageNumbers"></span>
      <button id="nextBtn">下一页</button>
    </div>
    <span id="totalPages" data-total-pages="<%= totalPages %>" data-current-page="<%= page %>" style="display:none;"></span>
    <%- include('footer') %>
    <script type="text/javascript" src="/api/index/sitetime.js"></script>
    <script type="text/javascript" src="/api/index/index-pager.js"></script>
</body>
</html>
